*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header ul{
    padding: 5px; text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 20px;
    margin: 5px; border-radius: 2px; background-color: rgba(138, 166, 216, 0.4); text-decoration: none;
    }
header ul li{
        display: inline; padding: 10px; text-decoration: none;
    }
h1 {
    color: rgb(223, 33, 33);
	text-shadow: 1px 1px 2px rgb(228, 214, 25);
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    margin-bottom: 30px;
	margin-top: 1em;
}
form fieldset{
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(181, 181, 223, 0.6);
    height: 600px;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
    text-align: center;
}
form input[type="radio"]{
    width: 50px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;

}
form input[type="submit"],
form input[type="reset"]{
	padding: 2px;
	font-size: 0.9em;
	text-align: center;
	color: rgb(0, 0, 0);
	border-radius: 2px;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
	padding: 5px;
}

/* footer */ 
footer{
    margin-bottom: 0;
}
footer ul{
    padding: 5px; font-family: 'Times New Roman', Times, serif; font-size: 20px;
    margin: 5px 0px 0px 0px; border-radius: 2px; background-color: rgb(199, 187, 187);text-align: center;
}
footer ul li{
    display: inline; padding: 10px;
}

/* discografia */

.discografia{
	background: linear-gradient(180deg, rgba(252, 243, 246, 0.678), rgb(207, 202, 206));
}
#section{
	margin-top: 20px;
	padding: 10px;
}
table{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgba(241, 220, 181, 0.466);
}
table th{
	border: 1px solid black;
	padding: 1px;
}
table td{
	border: 1px solid black;
	padding: 10px;
}

#disco{
	font-family: cursive;
	font-size: 1.5em;

}
.parrafodisco{
	background-color: rgba(231, 204, 154, 0.466);
	margin: 5px;
	padding: 20px;
	border: hidden;
	box-shadow: 2px 2px red;
	border-radius: 10px;
	font-family: cursive;
}
.parrafodisco span{
	color: red;
	text-shadow: rgb(206, 65, 65) 2px 2px;
	font-size: 1.7em;
	font-family: fantasy;
}
caption{
	font-size: 1.5em;
	padding: 4px;
	text-shadow: gray 3px 3px;

}

/* bio */
@media screen and (max-width: 600px){
	#noticias{
		background-color: olive;
		
	}

}

#noticias{
	background: linear-gradient(180deg, rgba(252, 243, 246, 0.678), rgb(207, 202, 206));
}

#divinte{
	background-color: rgb(192, 229, 217);
	padding: 20px;
	border-radius: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ulinte {
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
	list-style: none;
	text-align: center;

}
.integrante{
	width: 10em;
	height: 10em;
	border-radius: 50%;
	border-radius: none;
}

.iframe{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}
.album{
	justify-content: space-between;
}
.titulobio{
	text-align: center;
	font-size: 3em;
	padding: 5px;
}
.sectionbio{
	margin: 0.5em;
	padding: 2em;
}

.bodygracias{
	background: rgba(252, 243, 246, 0.678);
	background-repeat: no-repeat;
	text-align: center;
	margin-left auto;
	margin-right:auto;
	width: auto;
	height: auto;
}

.gracias{
	background-color: rgb(236, 232, 232);
	margin: 1em;
	padding: 1em;	
	border: 1.5px solid black;
	box-shadow: 3px 3px grey ;
	border-radius: 5px;
	text-align: center;
	font-size: 2em;
	height: 100%;

}